<html>
    <head>
        <link href="/stylesheets/add doctor.css" rel="stylesheet">

    </head>
    <body>
        <div class="container" id="container">
            <div class="left-div-pos">
                <h1>Add a Doctor</h1>
                <form action="#">
                    <div class="img">
                        <input type="image" src="/images/doctor-icon-2048x2048-g71dy4ps.png">
                    </div>
                </form>
                <div class="form-container">
                  
                    <form action="adddoctor" method="post">
                        <div class="row">
                            <div class="label-container">
                                <label for="name">Name :</label>
                            </div>
                            <div class="value-container">
                                <input  name="name"  type="text" required >
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="label-container">
                                <label for="specialization">Specialization :</label>
                            </div>
                            <div class="value-container">
                                <input   name="spec" type="text" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="label-container">
                                <label for="departmentID">Department ID :</label>
                            </div>
                            <div class="value-container">
                                <input    name="dep_id"  type="text" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="label-container">
                                <label for="email">Email :</label>
                            </div>
                            <div class="value-container">
                                <input  name="email" type="email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="label-container">
                                <label for="password">Password :</label>
                            </div>
                            <div class="value-container">
                                <input   name="password"  type="password"  required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="label-container">
                                <label for="password">  Confirm Password :</label>
                            </div>
                            <div class="value-container">
                                <input   name="confirmpassword"  type="password" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="label-container">
                                <label for="number">Phone Number :</label>
                            </div>
                            <div class="value-container">
                                <input   name="number" type="tel" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="label-container">
                                <label for="age">Age :</label>
                            </div>
                            <div class="value-container">
                                <input  name="age"  type="number" min="0" max="100" step="1" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="label-container">
                                <label for="adress">Address :</label>
                            </div>
                            <div class="value-container">
                                <input  name="address"  type="text">
                            </div> 
                        </div>

                        {{#each msg }}
                            
                            <p class="error-msg"> {{this}} </p>
                         
                        {{/each}}

                        <button>Submit</button>
                        
                    </form>
                </div>
                <!-- <div class="options">
                   <div class="options-container">
                    <form class="right-div">
                        <ul>
                            <li class="op"><a href="#">Home</a></li>
                            <li class="op"><a href="#">Arrange an Appointment</a></li>
                            <li class="op"><a href="#">Edit Information</a></li>
                            <li class="op"><a href="#">Log Out</a></li>
                        </ul>
                    </form>
                    </div> 
                </div> -->
            </div>
        </div>
    </body>
</html>