<html>
    <head>
        <link href="/stylesheets/addworkhour.css" rel="stylesheet">

        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    </head>
    <body>
        <div class="container" id="container">
            <!-- <h1>Prescription</h1> -->
            
            <div class="form-container">
                <h1>Add Workhours <i class="fa fa-clock-o" aria-hidden="true"></i></i></h1> 

                <form action="#" >
                    <div class="table-container">
                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th></th>
                                   
                                    
                                </tr>
                            </thead>
                            <tbody>
                           
                                <tr>
                               
                                    <td>Saturday</td>
                                    <form action="mmm" id="4" method="post"></form>
                                    <td><input id="4" name1="time1" type="time"></td>
                                    <td><input id="4" name2="time2" type="time"></td>
                                    <td>
                                        <a href="/users/addworktime/'saturday'/" style="color: green; font-size: 20px;">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </a>
                                        </td>
                                    
                                </tr>
                                <tr>
                               
                                    <td>Sunday</td>
                                    <td><input  name="time1" type="time"></td>
                                    <td><input  name="time2" type="time"></td>
                                    <td>
                                        <a href="/addworktime/Sunday" style="color: green; font-size: 20px;">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </a>
                                        </td>
                                    
                                </tr>
                                <tr>
                               
                                    <td>Monday</td>
                                    <td><input name="time1" type="time"></td>
                                    <td><input name="time2" type="time"></td>
                                    <td>
                                        <a href="/addworktime/Monday"  style="color: green; font-size: 20px;">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </a>
                                        </td>
                                    
                                </tr>
                                <tr>
                               
                                    <td>Tuesday</td>
                                    <td><input  name="time1"  type="time"></td>
                                    <td><input   name="time2"  type="time"></td>
                                    <td>
                                        <a href="/addworktime/Tuesday"  style="color: green; font-size: 20px;">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </a>
                                        </td>
                                    
                                </tr>
                                <tr>
                               
                                    <td>Wednesday</td>
                                    <td><input   name="time1" type="time"></td>
                                    <td><input  name="time2"  type="time"></td>
                                    <td>
                                        <a href="/addworktime/Wednesday" style="color: green; font-size: 20px;">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </a>
                                        </td>
                                    
                                </tr>
                                <tr>
                               
                                    <td>Thursday</td>
                                    <td><input  name="time1"  type="time"></td>
                                    <td><input   name="time2"  type="time"></td>
                                   <td>
                                        <a href="/addworktime/Thursday" style="color: green; font-size: 20px;">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </a>
                                        </td>
                                    
                                </tr>
                             <tr>
                               
                                    <td>Friday</td>
                                    <td><input  name="time1"  type="time"></td>
                                    <td><input   name="time2" type="time"></td>
                                    <td>
                                        <a href="/addworktime/Friday" style="color: green; font-size: 20px;">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </a>
                                        </td>
                                    
                                </tr>

                                
                                <!-- and so on... -->
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
           
        </div>
    </body>
</html>