<html>
   
<head>
	<link rel="stylesheet" href={{style}}>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Sign Up</title>
</head>
<body>
	<div class="container" id="container">
          
   
		<div class="form-container log-in-container">
				  {{#each messages1}}
                    <p>{{this}}</p>
                
                  {{/each}}
			
			<form action="profilesignup" method="post">
				<h1>Sign Up</h1>
				
				<!-- <span>or use your account</span> -->
				<input name="name" type="name" placeholder="Name" required/>
                <input  name="email" type="email" placeholder="Email" required/>
                <input  name="number"  type="number" placeholder="Phone Number" required/>
				<input  name="password"  type="password" placeholder="Password" required/>
                <input  name="confirm_password" type="password" placeholder="Confirm Password" required/>
                <div class="gender">
                    <input type="radio" name="gender" value="male" id="male" required>
                    <label for="male">Male</label><br>
                    <input type="radio" name="gender" value="female" id="female"required>
                    <label for="female">Female</label><br>
                </div>
				<!-- <a href="#">Forgot your password?</a> -->
				<button>Sign Up</button>
				  
			</form>
		
             
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1>Welcome To</h1>
                    <h1>X-Cream</h1>
					<p>Sign Up to be able to benefit from our services and be in touch with us.</p>
                    
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>