<html>
   <form action="users/profile" id="8" method="get"></form>
    <head>
        <title>Home</title>
        <link href="/stylesheets/home back when login.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="logo">
                    <img src="/images/logoxcream.png" draggable="false">
                </div>
                <ul class="navbar">
                    <li><a href="#" class="active" id="home">Home</a></li>
                    <li><a href="#" id="About">About</a></li>
                    <li><a href="#" id="Services">Services</a></li>
                    <li><a href="#" id="Doctors">Doctors</a></li>
                    <li><a href="#" id="Contact">Contact</a></li>
                    <li><a href="javascript:;" onclick="document.getElementById('8').submit();"id="Contact"><i class="fa fa-user-circle" aria-hidden="true" 
                        style="cursor:pointer;">
                        
                        
                        </i> My Account </a></li>
                </ul>
                <div class="clear"></div>

            </div>
        </div>
        <div class="home" id="home1">
            <div class="overlay">
                <div class="home-content">
                    <h1 class="title">Your Beauty Is Our Profession</h1>
                    <p class="description">Unveil the secrets to flawless skin with X-Cream Clinic.
                         Access dermatological insights, professional recommendations,
                         and effective skincare routines to transform your skin and embrace a renewed sense of confidence.</p>
                </div>
            </div>
        </div>

        <!-- section's header -->
        <div class="section-header" id="About1">
            <img src="/images/doctors/portrait-smiling-young-woman-preview.png" alt="">

            <div class="aboutt">

            <h2 class="section-title">Welcome To X-Cream Clinic</h2>
            <span class="line" style="margin-top: 18px;"></span>
            <p class="about-desc">With a focus on both medical and cosmetic dermatology, 
                we offer a comprehensive range of services.
                From diagnosing and treating skin conditions such as acne, eczema, and psoriasis, 
                to providing advanced anti-aging treatments and skin rejuvenation procedures, 
                we are here to address all your skin concerns.</p>
            </div>
        </div>

        <!-- Services -->
        <div class="services" id="Services1">
                <div class="service-title-container">
                    <h2 class="services-title">Our Services</h2>
                    <span class="services-line"></span>
                </div>
                <div class="total-services">
                    
                    <div class="each-service">
                        <img class="service-img" src="/images/services/MEDICAL-DERMATOLOGY.jpg">
                        <h3 class="service-name">Medical Dermatology</h3>
                        <p class="service-description">We diagnose and treat a range of skin conditions such as acne, eczema, psoriasis, rosacea, dermatitis, skin infections, and more.</p>
                    </div>
                    <div class="each-service">
                        <img class="service-img" src="/images/services/laser.avif">
                        <h3 class="service-name">Laser Hair Removal</h3>
                        <p class="service-description">Safe and effective hair removal using laser technology to target hair follicles, providing long-lasting results.</p>
                    </div>
                    <div class="each-service">
                        <img class="service-img" src="/images/services/botox.jpg">
                        <h3 class="service-name">Botox and Dermal Fillers</h3>
                        <p class="service-description">Minimally invasive procedures to reduce wrinkles, fine lines, and restore volume to areas of the face, such as lips and cheeks.</p>
                    </div>
                    <div class="each-service">
                        <img class="service-img" src="/images/services/facials.jpg">
                        <h3 class="service-name">Facial Treatments</h3>
                        <p class="service-description">Customized facials and skin treatments tailored to address specific concerns, such as hydration, brightening, or anti-aging.</p>
                    </div>
                    <div class="each-service">
                        <img class="service-img" src="/images/services/hair loss.jpg">
                        <h3 class="service-name">Hair and Nail Disorders</h3>
                        <p class="service-description">We diagnose and treat various hair and nail conditions, including hair loss (alopecia), 
                            scalp infections, nail infections, and nail disorders.</p>
                    </div>
                    <div class="each-service">
                        <img class="service-img" src="/images/services/surgry.webp">
                        <h3 class="service-name">Dermatologic Surgery</h3>
                        <p class="service-description">Our skilled dermatologic surgeons perform various surgical procedures, including mole removal, 
                            skin biopsies, skin cancer excisions.</p>
                    </div>
                </div>
        </div>

        <!-- Doctors-->
        <div class="doctors" id="Doctors1">
            <div class="doctors-title-container">
                <h2 class="doctors-title">Doctors</h2>
                <span class="doctors-line"></span>
            </div>
            <div class="total-doctors">
                <div class="each-doctor">
                    <img class="doctor-img" src="/images/doctors/360_F_504257032_jBtwqNdvdMN9Xm6aDT0hcvtxDXPZErrn.jpg">
                    <h3 class="doctor-name">Dr. Sofia</h3>
                    <h4 class="doctor-spec">Ph.D. in Experimental Dermatology</h4>
                </div>
                <div class="each-doctor">
                    <img class="doctor-img" src="/images/doctors/bearded-doctor-glasses_23-2147896187.jpg">
                    <h3 class="doctor-name">Dr. Kris Adam</h3>
                    <h4 class="doctor-spec">Ph.D. in Cutaneous Biology and Regenerative Medicine</h4>
                </div>
                <div class="each-doctor">
                    <img class="doctor-img" src="/images/doctors/medical-concept-indian-beautiful-female-doctor-white-coat-with-stethoscope-waist-up-medical-student-woman-hospital-worker-looking-camera-smiling-studio-blue-background_185696-621.avif">
                    <h3 class="doctor-name">Dr. Lisa Martin</h3>
                    <h4 class="doctor-spec">Ph.D. in Experimental Dermatology:</h4>
                </div>
                <div class="each-doctor">
                    <img class="doctor-img" src="/images/doctors/pleased-young-female-doctor-wearing-medical-robe-stethoscope-around-neck-standing-with-closed-posture_409827-254.jpg">
                    <h3 class="doctor-name">Dr. Alexandra Reynolds</h3>
                    <h4 class="doctor-spec">Ph.D. in Skin Pharmacology</h4>
                </div>
                <div class="each-doctor">
                    <img class="doctor-img" src="/images/doctors/smiling-doctor-with-strethoscope-isolated-grey_651396-974.jpg">
                    <h3 class="doctor-name">Dr. Jared Daniel</h3>
                    <h4 class="doctor-spec">Ph.D. in Dermatological Sciences</h4>
                </div>
                <div class="each-doctor">
                    <img class="doctor-img" src="/images/doctors/young-girl-lab-coat-blue-with-space-text_432566-177.jpg">
                    <h3 class="doctor-name">Dr. Emma steeve</h3>
                    <h4 class="doctor-spec">Ph.D. in Dermatoepidemiology</h4>
                </div>
            </div>
        </div>

        <!-- footer -->
        <footer class="contact-footer " id="Contact1">
            <h3 >Contact Us</h3>
            <span class="doctors-line" style="margin-top: 12px;"></span>

            <p>123 Street, City, Country</p>
            <p>Phone: +1 234 567890</p>
            <p>Email: info@example.com</p>
            <div class="socials">
                <a href="#" data-aos="fade-right" data-aos-duration="2500">
                    <li class="fa fa-facebook"></li>
                </a>
                <a href="#" data-aos="fade-right" data-aos-duration="2000">
                    <li class="fa fa-twitter"></li>
                </a>
                <a href="#" data-aos="fade-right" data-aos-duration="1000">
                    <li class="fa fa-instagram"></li>
                </a>

    
            </div>
            <div class="footer-bottom">
                <p>copyright &copy;2023 Xciam designed by <span>Lamees </span></p>
            </div>
        </footer>
        <script src="/javascripts/style.js"></script>

    </body>
    
</html>